<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="AlphaCharges is an application for fast calculation of partial atomic charges of structures from the Alphafold database.">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <title> AlphaCharges </title>
    {% block styles %}
    {% endblock styles %}
</head>

<body>
    {% block body %}
    {% endblock body %}
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {% endblock scripts %}
</body>

</html>