{% extends 'base/base.html' %}

{% block title %} αCharges – Calculation results {% endblock title %}

{% block styles %}
{% endblock styles %}

{% block body %}
<div class="container mt-3 p-3">
    <div class="row">
        <div class="col">
            <h1 style="margin-bottom:25px">
                <strong><span style="color:tomato">α</span><span style="color: #1E90FF">Charges – Calculation
                        progress</span></strong>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-0">
            <strong> UniProt code:</strong> <a href="https://alphafold.ebi.ac.uk/entry/{{ code }}" target="_blank"
                rel="noreferrer"> {{ code }} </a>
        </div>
        <div class="col-12 mt-1">
            <strong> AlphaFold2 prediction version:</strong> {{ alphafold_prediction_version }}
        </div>
        <div class="col-12 mt-1">
            <strong> pH:</strong> {{ ph }}
        </div>
    </div>
    <hr>
    <div id="progress"></div>
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    {% endblock body %}
    {% block scripts %}
    <script>
        fetch('{{ url_for("calculation", ID=ID) }}', { method: "POST" }).then(
            response => {
                if (response.redirected) {
                    window.location.href = response.url
                }
            }
        )
    </script>
    <script>
        var clock = document.getElementById("progress");
        setInterval(() => {
            fetch("{{ url_for('progress', ID=ID) }}")
                .then(response => {
                    response.text().then(t => { clock.innerHTML = t })
                });
        }, 1000);
    </script>
</div>
{% endblock scripts %}