{% extends 'base/base.html' %}

{% block body %}
<div class="container p-3">
    <div class="d-none mt-3 d-lg-block"></div>
    <form method=post enctype=multipart/form-data>
        <div class="row">
            <div class="col">
                <h1 style="margin-bottom:25px">
                    <strong><span style="color:tomato">α</span><span style="color: #1E90FF">Charges</span></strong>
                </h1>
                <strong>AlphaCharges</strong> (<strong><span style="color:tomato">α</span><span
                        style="color: #1E90FF">Charges</span></strong>)
                is a web application for the calculation of partial atomic charges on protein structures predicted by
                the <a href="https://www.nature.com/articles/s41586-021-03819-2" target="_blank"
                    rel="noreferrer">AlphaFold2 algorithm</a> and deposited in the <a
                    href="https://academic.oup.com/nar/article/50/D1/D439/6430488" target="_blank"
                    rel="noreferrer">AlphaFoldDB</a> database. The charges are computed by the <a
                    href="https://jcheminf.biomedcentral.com/articles/10.1186/s13321-021-00528-w" target="_blank"
                    rel="noreferrer">SQE+qp empirical method</a>, which quality is comparable to quantum mechanical
                charge calculation approaches (specifically, it is parameterized using B3LYP/6-31G*/NPA quantum
                mechanical charges). Before computation of the charges, <strong><span style="color:tomato">α</span><span
                        style="color: #1E90FF">Charges</span></strong> protonates
                the
                input protein structures by <a href="https://pubs.acs.org/doi/full/10.1021/ct100578z" target="_blank"
                    rel="noreferrer">PROPKA3</a>. The details about the methodology and usage are
                described in the <a href="{{ url_for('static', filename='assets/manual.pdf') }}" target="_blank"
                    rel="noreferrer">manual</a>. This website is free and open to all users and there is no login
                requirement. Source codes are freely available at <a href="https://github.com/sb-ncbr/AlphaCharges" target="_blank"
                    rel="noreferrer">github</a>.
            </div>
        </div>
        <hr>
        {% include 'base/flash.html' %}
        <br>
        <input type="hidden" name="ph" value='7.2' />
        <input type="hidden" name="prediction_version" value='4' />
        <div class="form-group col-sm-6 col-lg-3 pl-0">
            <label style="color:black" for="title"><strong>UniProt code:</strong></label>
            <input type="text" name="code" required="required" class="form-control" placeholder="e.g., P34712, L8BU87"
                title="UniProt code is allowed only in its short form (e.g., A0A1P8BEE7, B7ZW16). Other notations (e.g., A0A159JYF7_9DIPT, Q8WZ42-F2) are not supported.">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" name="action" value="calculate charges">Calculate
                charges</button>
            <button type="submit" class="btn btn-secondary" name="action" value="settings">Setup calculation</button>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="col">
            <h3>Examples</h3>
        </div>
    </div>
    <div class="row">
        <!-- glycoprotein -->
        <div class="col-lg-4 pl-0">
            <div class="col">
                <strong>P-glycoprotein</strong>
            </div>
            <div class="col text-align mt-3">
                <img src="{{ url_for('static', filename='assets/p_glycoprotein.png') }}" alt="P-glycoprotein"
                    style="height: 200px">
            </div>
            <div class="col mt-3 text-justify">
                <small>
                    P-glycoprotein is part of the ABC transporter proteins that decrease drug accumulation in cancer
                    cells (<a href="https://www.sciencedirect.com/science/article/pii/S0041008X0400482X?via%3Dihub"
                        target="_blank" rel="noreferrer">Leslie2005</a>).
                    It is a 170-kDa protein which consists of a nucleotide-binding domain and a transmembrane domain
                    (<a href="https://www.pnas.org/doi/full/10.1073/pnas.1309275110" target="_blank"
                        rel="noreferrer">Ward2013</a>).
                    Partial atomic charges calculated by
                    <strong><span style="color:tomato">α</span><span style="color: #1E90FF">Charges</span></strong>
                    demonstrate the differences in charge
                    distribution between transmembrane parts and the extracellular/intracellular one.
                </small>
            </div>
            <div class="col text-center mt-3">
                <form method=post enctype=multipart/form-data>
                    <input type="hidden" name="ph" value='7.2' />
                    <input type="hidden" name="prediction_version" value='4' />
                    <input type="hidden" name="code" value='P34712' />
                    <button type="submit" class="btn btn-primary" name="action"
                        value="calculate charges">P-glycoprotein</button>
                </form>
            </div>
        </div>
        <!-- pepsin -->
        <div class="col-lg-4 pl-0 pt-5 pt-lg-0">
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <strong>Pepsin</strong>
                    </div>
                    <div class="col">
                        <label id="ph_range_label" for="customRange1" class="form-label m-0">pH: 1</label>
                        <input type="range" class="form-range" id="ph_range" min=1 max=8 value=1>
                    </div>
                </div>
            </div>
            <div class="col text-center mt-3">
                <img id="cat1" class="cat_image" src="{{ url_for('static', filename='assets/pepsin_ph1.png') }}"
                    style="height: 200px">
                <img id="cat2" class="cat_image" src="{{ url_for('static', filename='assets/pepsin_ph2.png') }}"
                    style="height: 200px" hidden>
                <img id="cat3" class="cat_image" src="{{ url_for('static', filename='assets/pepsin_ph3.png') }}"
                    style="height: 200px" hidden>
                <img id="cat4" class="cat_image" src="{{ url_for('static', filename='assets/pepsin_ph4.png') }}"
                    style="height: 200px" hidden>
                <img id="cat5" class="cat_image" src="{{ url_for('static', filename='assets/pepsin_ph5.png') }}"
                    style="height: 200px" hidden>
                <img id="cat6" class="cat_image" src="{{ url_for('static', filename='assets/pepsin_ph6.png') }}"
                    style="height: 200px" hidden>
                <img id="cat7" class="cat_image" src="{{ url_for('static', filename='assets/pepsin_ph7.png') }}"
                    style="height: 200px" hidden>
                <img id="cat8" class="cat_image" src="{{ url_for('static', filename='assets/pepsin_ph8.png') }}"
                    style="height: 200px" hidden>
            </div>
            <div class="col mt-3 text-justify">
                <small>
                    Pepsin is the enzyme that is majorly involved in protein digestion in the stomach. It is secreted
                    as a zymogen and activated by the acidic pH created by the stomach parietal cells. Pepsin is the
                    most effective at a pH of approximately 1.5 to 2, and it becomes inactive when the pH rises above 6
                    (<a href="https://www.ncbi.nlm.nih.gov/books/NBK537005/" target="_blank"
                        rel="noreferrer">Heda2022</a>). Pepsin remains structurally stable until at least a pH of 8.
                    Differences in a charge distribution between its active form (pH 2) and inactive form (pH 8) can be
                    seen in this use case. The alkaline environment causes an increase in negative charges, which
                    contributes to the structural instability of the pepsin, causing the shift to an inactive form of
                    the protein (<a href="https://academic.oup.com/peds/article/14/9/669/1551528?login=false"
                        target="_blank" rel="noreferrer">Tanaka2001</a>, <a
                        href="https://www.sciencedirect.com/science/article/abs/pii/S0141022921001290?via%3Dihub"
                        target="_blank" rel="noreferrer">Grahame2021</a>).
                </small>
            </div>
            <div class="col text-center mt-3">
                <form method=post enctype=multipart/form-data class=" btn">
                    <input type="hidden" name="ph" value='2' />
                    <input type="hidden" name="prediction_version" value='4' />
                    <input type="hidden" name="code" value='P00791' />
                    <button type="submit" class="btn btn-primary" name="action"
                        value="calculate charges">Active</button>
                </form>
                <form method=post enctype=multipart/form-data class="btn">
                    <input type="hidden" name="ph" value='8' />
                    <input type="hidden" name="prediction_version" value='4' />
                    <input type="hidden" name="code" value='P00791' />
                    <button type="submit" class="btn btn-primary" name="action"
                        value="calculate charges">Inactive</button>
                </form>
            </div>
        </div>
        <!-- pin -->
        <div class="col-lg-4 pl-0 pt-5 pt-lg-0">
            <div class="col">
                <strong>PIN proteins</strong>
            </div>
            <div class="col text-center mt-3">
                <img src="{{ url_for('static', filename='assets/pin8.png') }}" alt="pin" style="height: 200px">
            </div>
            <div class="col mt-3 text-justify">
                <small>
                    The PIN family proteins control plant growth by regulating auxin export from the cytosol to the
                    extracellular space. Eight types of PIN proteins are known (PIN1-PIN8), and last year, structures of
                    three of them were discovered and published in Nature (i.e., articles about <a
                        href=" https://www.nature.com/articles/s41586-022-05143-9" target="_blank" rel="noreferrer">
                        PIN1</a>,
                    <a href="https://www.nature.com/articles/s41586-022-05142-w" target="_blank"
                        rel="noreferrer">PIN3</a>,
                    <a href="https://www.nature.com/articles/s41586-022-04883-y" target="_blank"
                        rel="noreferrer">PIN8</a>).
                    Partial atomic charges play an important role in PINs functionality.
                    The PIN protein part inside the cytosol (containing the cytosolic loop) is charged more than the
                    part outside the cytosol. Questionable is the charge distribution of PIN5, which structure differs
                    from other PINs (<a href="https://www.nature.com/articles/s41586-022-04883-y" target="_blank"
                        rel="noreferrer">Ung2022</a>) and was not experimentally determined yet. In the
                    use case, you can compare the charge distribution of AlphaFold2 predicted PINs from <em>A.
                        thaliana</em>.
                </small>
            </div>
            <div class="col text-center mt-3">
                <form method=post enctype=multipart/form-data class="btn">
                    <input type="hidden" name="ph" value='7.2' />
                    <input type="hidden" name="prediction_version" value='4' />
                    <input type="hidden" name="code" value='Q9C6B8' />
                    <button type="submit" class="btn btn-primary" name="action" value="calculate charges">PIN1</button>
                </form>
                <form method=post enctype=multipart/form-data class="btn">
                    <input type="hidden" name="ph" value='7.2' />
                    <input type="hidden" name="prediction_version" value='4' />
                    <input type="hidden" name="code" value='Q9S7Z8' />
                    <button type="submit" class="btn btn-primary" name="action" value="calculate charges">PIN3</button>
                </form>
                <form method=post enctype=multipart/form-data class="btn">
                    <input type="hidden" name="ph" value='7.2' />
                    <input type="hidden" name="prediction_version" value='4' />
                    <input type="hidden" name="code" value='Q9FFD0' />
                    <button type="submit" class="btn btn-primary" name="action" value="calculate charges">PIN5</button>
                </form>
            </div>
            <div class="text-center">
                <form method=post enctype=multipart/form-data class="btn">
                    <input type="hidden" name="ph" value='7.2' />
                    <input type="hidden" name="prediction_version" value='4' />
                    <input type="hidden" name="code" value='Q9SQH6' />
                    <button type="submit" class="btn btn-primary" name="action" value="calculate charges">PIN6</button>
                </form>
                <form method=post enctype=multipart/form-data class="btn">
                    <input type="hidden" name="ph" value='7.2' />
                    <input type="hidden" name="prediction_version" value='4' />
                    <input type="hidden" name="code" value='Q940Y5' />
                    <button type="submit" class="btn btn-primary" name="action" value="calculate charges">PIN7</button>
                </form>
                <form method=post enctype=multipart/form-data class="btn">
                    <input type="hidden" name="ph" value='7.2' />
                    <input type="hidden" name="prediction_version" value='4' />
                    <input type="hidden" name="code" value='Q9LFP6' />
                    <button type="submit" class="btn btn-primary" name="action" value="calculate charges">PIN8</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col text-center">
            <small>
                If you found
                <strong><span style="color:tomato">α</span><span style="color: #1E90FF">Charges</span></strong> helpful,
                please refer this web page, the
                manuscript
                is in preparation. Are you interested in a research collaboration? Feel free to <a
                    href="mailto:ondrej.schindler@mail.muni.cz" target="_blank" rel="noreferrer">contact us</a>.
            </small>
        </div>
    </div>
    <hr>
    {% include 'base/elixir.html' %}
    <hr>
    {% include 'base/footer.html' %}
</div>
{% endblock body %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
<script>
    const phs = [0, 1, 2, 3, 4, 5, 6, 7, 8];
    const range = document.getElementById('ph_range');
    const range_label = document.getElementById('ph_range_label');
    range.oninput = function () {
        range_label.innerHTML = `pH: ${phs[range.value]}`;
        const cat_images = document.getElementsByClassName('cat_image');
        for (let i = 0; i < cat_images.length; ++i) {
            cat_images[i].setAttribute('hidden', true);
        }
        const keep = document.getElementById(`cat${range.value}`);
        keep.removeAttribute('hidden');
    }
</script>
{% endblock scripts %}