{% extends 'base/base.html' %}

{% block body %}
<div class="container p-3">
    <div class="d-none mt-3 d-lg-block"></div>
    <form method=post enctype=multipart/form-data>
        <div class="row">
            <div class="col">
                <h1 style="margin-bottom:25px">
                    <strong><span style="color:tomato">α</span><span style="color: #1E90FF">Charges – Calculation
                            settings</span></strong>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-0">
                <strong> UniProt code: </strong> <a href="https://alphafold.ebi.ac.uk/entry/{{ code }}" target="_blank"
                    rel="noreferrer">{{ code }} </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                {% include 'base/flash.html' %}
            </div>
        </div>
        <input type="hidden" name="code" value='{{ code }}' />
        <div class="row">
            <div class="col-md-6 pl-0">
                <div class="form-group col-sm-6 col-lg-5">
                    <label style="color:black; font-weight:bold;" for="title">Protonate in pH:</label>
                    <input type="number" min=0 max=14 step="0.1" name="ph" class="form-control" value="7.2">
                </div>
                <br>
            </div>
            <div class="col-md-6">
                <div class="form-group col-sm-6 col-lg-6">
                    <label style="color:black; font-weight:bold;" for="title">AlphaFold prediction version:</label>
                    <input type="number" min=1 max=4 step=1 name="prediction_version" class="form-control" value="4">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-success" name="action" value="calculate charges">Calculate
                    charges</button>
            </div>
            <div class="col text-right">
                <a href="{{ url_for('main_site') }}" class="btn btn-primary">Back to main page</a>
            </div>
        </div>
    </form>
    <hr>
    {% include 'base/elixir.html' %}
    <hr>
    {% include 'base/footer.html' %}
</div>
{% endblock body %}