{% extends 'base/base.html' %}

{% block body %}
    <div class="container p-3">
        <div class="d-none mt-3 d-lg-block"></div>
        <form method=post enctype=multipart/form-data>
            <div class="row">
                <div class="col">
                <h1 style="margin-bottom:25px; color:#1E90FF" class="font-weight-bold"><span style="color:tomato">α</span>Charges - <span>Calculation settings</span></h1>
                </div>
            </div>
            <p>
            <span style="font-weight:bold"> UniProt code:</span> {{ code }}
            </p>
            <hr>
            {% include 'base/flash.html' %}



            <input type="hidden" name="code" value='{{ code }}' />
            <div class="form-group col-sm-6 col-lg-3 font-weight-bold">
                <label style="color:black" for="title">pH:</label>
                <input type="text" name="ph" class="form-control" value="7.2">

            </div>


            <div class="form-group row">
                <button type="submit" class="btn btn-primary" name="action" value="calculate charges">Calculate charges</button>
                <div class="col text-right"><a href="/" class="btn btn-primary">Back to main page</a></div>
            </div>
        </form>

        <hr>
        {% include 'base/elixir.html' %}
        <hr>
        {% include 'base/footer.html' %}
    </div>

{% endblock body %}
